{% extends "quoteapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quoteapp:add_author' %}">
    {% csrf_token %}
    <div class="form-group pt-4">
        <label>Author fullname</label>
        <div>{{ form.fullname }}</div>
        <span>{{ form.errors.fullname }}</span>
    </div>
    <div class="form-group pt-4">
        <label>Author born date</label>
        <div>{{ form.born_date }}</div>
        <span>{{ form.errors.born_date }}</span>
    </div>
    <div class="form-group pt-4">
        <label>Author born location</label>
        <div>{{ form.born_location }}</div>
        <span>{{ form.errors.born_location }}</span>
    </div>
    <div class="form-group pt-4">
        <label>Author description</label>
        <div>{{ form.description }}</div>
        <span>{{ form.errors.description }}</span>
    </div>
    <div class="grid mt-4">
        <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
{% endblock %}
